:root {
	--blue: #0943a2;
	--blackBorder: #898989;
}

.numbtn {
	cursor: pointer;
	padding: 7px 10px;
	border: 2px solid var(--blackBorder);
	width: 80px;
	display: inline-block;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	margin: 3px;
}

.keypad {
	padding: 10px;
	border-top: 2px solid var(--blackBorder);
	width: fit-content;
	margin: 5px;
}

.equalBtn {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: white;
}

.screen {
	padding: 10px;
	border: 2px solid var(--blackBorder);
	border-radius: 5px;
	margin: 5px;
	width: 367px;
	text-align: right;
}

.screen:hover {
	border: 2px solid var(--blue);
}

.calculator {
	padding: 10px;
	border: 2px solid var(--blackBorder);
	width: fit-content;
}


/* Light Mode */

.numbtnLight:hover {
	background-color: #F0FFFF;
}


/* Dark Mode */

.numbtnDark:hover {
	background-color: var(--blue);
	border: 2px solid var(--blue);
	transition: 0.1s;
}


/* Slider */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 1px;
	background-color: #484848;
	border: 3px solid #202020;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 1px;
	background-color: #FFFDF1;
	border: 3px solid #E1E5C4;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #BFE6F7;
	border: 3px solid #80C1D7;
}

input:checked+.slider.round:before {
	background-color: #F5ED28;
	border: 3px solid #E6C542;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.navbar {
	padding: 3px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.h1 {
	text-align: center;
}